# Bidirectional LSTM for Value Aligned AI Agent

Unzip .tar file containing moral stories (training data)

In [1]:
import tarfile

#Unzip .tar file containing moral stories
moral_file = '/content/moral_stories_datasets.tar.xz'

moral_stories = tarfile.open(moral_file)
moral_stories.extractall()
moral_stories.close()

Generate dataframes for training and testing portions of moral stories (training data)

In [2]:
import pandas as pd
import json

#Parses .json dictionary into pandas dataframe
def json_to_dataframe(filename, verbose=False):

  with open(filename, 'r') as json_file:
    situation = []
    action = []
    label = []
    intention = []

    json_list = list(json_file)
    if verbose:
      print(len(json_list))

    for json_str in json_list:
      json_dict = json.loads(json_str)
      if verbose:
        print(f'json dict: {json_dict}')

      if 'situation' in json_dict:
        situation.append(json_dict['situation'])

      if 'immoral_action' in json_dict:
        action.append(json_dict['immoral_action'])

      if 'moral_action' in json_dict:
        action.append(json_dict['moral_action'])

      if 'intention' in json_dict:
        intention.append(json_dict['intention'])

      if 'label' in json_dict:
        label.append(json_dict['label'])

  df = pd.DataFrame({'situation': situation, 'action': action, 'intention': intention, 'label': label})
  return df

In [3]:
import os
from sklearn.model_selection import train_test_split

#Specify moral stories data directory 
data_dir = os.path.join('moral_stories_datasets', 'classification', 'action+context', 'lexical_bias')

#Load training and testing data from given directory
moral_train_df = json_to_dataframe(os.path.join(data_dir, 'train.jsonl'))
moral_test_df = json_to_dataframe(os.path.join(data_dir, 'test.jsonl'))

View dataframes

In [4]:
moral_train_df

                                               situation  ... label
0      Joan is on a first date with Mitch when she ge...  ...     1
1      Joan is on a first date with Mitch when she ge...  ...     0
2      Justin's mother allows him to stay up as late ...  ...     1
3      Justin's mother allows him to stay up as late ...  ...     0
4      Margaret's mother is living in a nursing home ...  ...     1
...                                                  ...  ...   ...
19995  John is at home with his wife Mindy who cooks ...  ...     0
19996  Catherine is a feminist atheist who thinks tha...  ...     1
19997  Catherine is a feminist atheist who thinks tha...  ...     0
19998  Sean's best friend just got into a new relatio...  ...     1
19999  Sean's best friend just got into a new relatio...  ...     0

[20000 rows x 4 columns]

In [5]:
moral_test_df

                                              situation  ... label
0               Jordan woke up very early this morning.  ...     1
1               Jordan woke up very early this morning.  ...     0
2          Debbie is having a birthday party next week.  ...     1
3          Debbie is having a birthday party next week.  ...     0
4       Jon's 3 year old son is biting him on the hand.  ...     1
...                                                 ...  ...   ...
1995  Marvin is excited about the release of a new g...  ...     0
1996  Justin notices that there are a lot of fleas o...  ...     1
1997  Justin notices that there are a lot of fleas o...  ...     0
1998  Jim's best friend has confided in him and reve...  ...     1
1999  Jim's best friend has confided in him and reve...  ...     0

[2000 rows x 4 columns]

Read .csv files for plotto and scifi datasets (testing data)

In [6]:
import pandas as pd

#Specify plotto and scifi files
plotto_file = 'plotto-10subject-eval-entropy-v1.csv'
scifi_file = 'scifi-nodisagree-clean_without_name.csv'

#Load plotto and scifi data
plotto_df = pd.read_csv(plotto_file, sep='\t', header=None)
scifi_df = pd.read_csv(scifi_file, header=None)

View dataframes

In [7]:
plotto_df

     0                                                  1
0    0     His philanthropic enterprise is about to fail
1    0  He, a reformed gambler, keeps the enterprise g...
2    1  He applies for the position of butler in the h...
3    1  He, applying to Leonardo for a job, is asked f...
4    0  He is supposed to be dead but assumes a fictit...
..  ..                                                ...
550  0  He is a confirmed procrastinator, and the habi...
551  0  She commits a transgression in order to concea...
552  0  She, committing one transgression in order to ...
553  0  He borrows an infant, Joseph, from a married f...
554  0  He kills himself, but contrives to make his de...

[555 rows x 2 columns]

In [8]:
scifi_df

     0                                                  1
0    1   Babylon 5 is the fifth in a series of space s...
1    1   The dream of peace between the five federatio...
2    1   He conducts a medical investigation and seeks...
3    0   Worried that if Kosh dies the Vorlons will at...
4    1   Upon receiving word that He has become the pr...
..  ..                                                ...
440  1   After the Praesitlyn victory for the Republic...
441  1   Upon exiting hyperspace near Kynachi the task...
442  1   Nuru's group attempts to continue the mission...
443  1   Nuru meets the Chiss ambassador but during th...
444  1   He agrees to go with the Senator in order to ...

[445 rows x 2 columns]

Remove punctuation from text

In [9]:
import re 

#Removes punctuation from given collection of text
def remove_punct(text):
  clean_text = [re.sub(r'[\"~,.;:!?&%$#()]', '', t) for t in text]
  return clean_text

In [10]:
#Remove punctuation from training text
clean_train_situation = remove_punct(moral_train_df['situation'])
clean_train_action = remove_punct(moral_train_df['action'])

moral_train_df['situation'] = clean_train_situation
moral_train_df['action'] = clean_train_action

In [11]:
#Remove punctuation from testing text
clean_test_situation = remove_punct(moral_test_df['situation'])
clean_test_action = remove_punct(moral_test_df['action'])

moral_test_df['situation'] = clean_test_situation
moral_test_df['action'] = clean_test_action

In [12]:
#Remove punctuation from plotto and scifi text
clean_plotto_action = remove_punct(plotto_df.iloc[:, 1])
clean_scifi_action = remove_punct(scifi_df.iloc[:, 1])

plotto_df.iloc[:, 1] = clean_plotto_action
scifi_df.iloc[:, 1] = clean_scifi_action

View dataframes

In [13]:
moral_train_df

                                               situation  ... label
0      Joan is on a first date with Mitch when she ge...  ...     1
1      Joan is on a first date with Mitch when she ge...  ...     0
2      Justin's mother allows him to stay up as late ...  ...     1
3      Justin's mother allows him to stay up as late ...  ...     0
4      Margaret's mother is living in a nursing home ...  ...     1
...                                                  ...  ...   ...
19995  John is at home with his wife Mindy who cooks ...  ...     0
19996  Catherine is a feminist atheist who thinks tha...  ...     1
19997  Catherine is a feminist atheist who thinks tha...  ...     0
19998  Sean's best friend just got into a new relatio...  ...     1
19999  Sean's best friend just got into a new relatio...  ...     0

[20000 rows x 4 columns]

In [14]:
moral_test_df

                                              situation  ... label
0                Jordan woke up very early this morning  ...     1
1                Jordan woke up very early this morning  ...     0
2           Debbie is having a birthday party next week  ...     1
3           Debbie is having a birthday party next week  ...     0
4        Jon's 3 year old son is biting him on the hand  ...     1
...                                                 ...  ...   ...
1995  Marvin is excited about the release of a new g...  ...     0
1996  Justin notices that there are a lot of fleas o...  ...     1
1997  Justin notices that there are a lot of fleas o...  ...     0
1998  Jim's best friend has confided in him and reve...  ...     1
1999  Jim's best friend has confided in him and reve...  ...     0

[2000 rows x 4 columns]

In [15]:
plotto_df

     0                                                  1
0    0     His philanthropic enterprise is about to fail
1    0  He a reformed gambler keeps the enterprise goi...
2    1  He applies for the position of butler in the h...
3    1  He applying to Leonardo for a job is asked for...
4    0  He is supposed to be dead but assumes a fictit...
..  ..                                                ...
550  0  He is a confirmed procrastinator and the habit...
551  0  She commits a transgression in order to concea...
552  0  She committing one transgression in order to h...
553  0  He borrows an infant Joseph from a married fri...
554  0  He kills himself but contrives to make his dea...

[555 rows x 2 columns]

In [16]:
scifi_df

     0                                                  1
0    1   Babylon 5 is the fifth in a series of space s...
1    1   The dream of peace between the five federatio...
2    1   He conducts a medical investigation and seeks...
3    0   Worried that if Kosh dies the Vorlons will at...
4    1   Upon receiving word that He has become the pr...
..  ..                                                ...
440  1   After the Praesitlyn victory for the Republic...
441  1   Upon exiting hyperspace near Kynachi the task...
442  1   Nuru's group attempts to continue the mission...
443  1   Nuru meets the Chiss ambassador but during th...
444  1   He agrees to go with the Senator in order to ...

[445 rows x 2 columns]

Concatenate 'situation' and 'action' text in moral stories dataset with special \<start>, \<sep> and \<end> markers

In [17]:
#Concatenates text from two dataframe columns with special <start>, <sep> and <end> markers and populates a new column in data with said concatenated text
def concat_text_columns(df, col_1, col_2, concat_col):
  #Initialize new 'concat_col' that will store concatenated text from 'col_1' and 'col_2'
  df[concat_col] = ''

  #Get number of rows in dataframe
  rows = df.shape[0]

  #Concatenate text from 'col_1' and 'col_2' with seperators
  for r in range(rows):
    col_1_text = df[col_1].iloc[r]
    col_2_text = df[col_2].iloc[r]
    df[concat_col].iloc[r] = f'<start> {col_1_text} <sep> {col_2_text} <end>'

In [18]:
#Concatenate text in 'situation' and 'action' columns for both training and testing dataframes
col_1 = 'situation'
col_2 = 'action'
concat_col = 'situation + action'

concat_text_columns(moral_train_df, col_1, col_2, concat_col)
concat_text_columns(moral_test_df, col_1, col_2, concat_col)

Format text with special \<start> and \<end> markers

In [19]:
#Formats text from single dataframe column with special <start> and <end> markers
def format_text(text):
  format_text = [f'<start> {t} <end>' for t in text]
  return format_text

In [20]:
#Format training text with special <start> and <end> markers
format_train_situation = format_text(moral_train_df['situation'])
format_train_action = format_text(moral_train_df['action'])

moral_train_df['situation'] = format_train_situation
moral_train_df['action'] = format_train_action

In [21]:
#Format testing text with special <start> and <end> markers
format_test_situation = format_text(moral_test_df['situation'])
format_test_action = format_text(moral_test_df['action'])

moral_test_df['situation'] = format_test_situation
moral_test_df['action'] = format_test_action

In [22]:
#Format ploto and scifi text with special <start> and <end> markers
format_plotto_action = format_text(plotto_df.iloc[:, 1])
format_scifi_action = format_text(scifi_df.iloc[:, 1])

plotto_df.iloc[:, 1] = format_plotto_action
scifi_df.iloc[:, 1] = format_scifi_action

View dataframes

In [23]:
moral_train_df

                                               situation  ...                                 situation + action
0      <start> Joan is on a first date with Mitch whe...  ...  <start> Joan is on a first date with Mitch whe...
1      <start> Joan is on a first date with Mitch whe...  ...  <start> Joan is on a first date with Mitch whe...
2      <start> Justin's mother allows him to stay up ...  ...  <start> Justin's mother allows him to stay up ...
3      <start> Justin's mother allows him to stay up ...  ...  <start> Justin's mother allows him to stay up ...
4      <start> Margaret's mother is living in a nursi...  ...  <start> Margaret's mother is living in a nursi...
...                                                  ...  ...                                                ...
19995  <start> John is at home with his wife Mindy wh...  ...  <start> John is at home with his wife Mindy wh...
19996  <start> Catherine is a feminist atheist who th...  ...  <start> Catherine is a feminist atheist who th...
19997  <start> Catherine is a feminist atheist who th...  ...  <start> Catherine is a feminist atheist who th...
19998  <start> Sean's best friend just got into a new...  ...  <start> Sean's best friend just got into a new...
19999  <start> Sean's best friend just got into a new...  ...  <start> Sean's best friend just got into a new...

[20000 rows x 5 columns]

In [24]:
moral_test_df

                                              situation  ...                                 situation + action
0     <start> Jordan woke up very early this morning...  ...  <start> Jordan woke up very early this morning...
1     <start> Jordan woke up very early this morning...  ...  <start> Jordan woke up very early this morning...
2     <start> Debbie is having a birthday party next...  ...  <start> Debbie is having a birthday party next...
3     <start> Debbie is having a birthday party next...  ...  <start> Debbie is having a birthday party next...
4     <start> Jon's 3 year old son is biting him on ...  ...  <start> Jon's 3 year old son is biting him on ...
...                                                 ...  ...                                                ...
1995  <start> Marvin is excited about the release of...  ...  <start> Marvin is excited about the release of...
1996  <start> Justin notices that there are a lot of...  ...  <start> Justin notices that there are a lot of...
1997  <start> Justin notices that there are a lot of...  ...  <start> Justin notices that there are a lot of...
1998  <start> Jim's best friend has confided in him ...  ...  <start> Jim's best friend has confided in him ...
1999  <start> Jim's best friend has confided in him ...  ...  <start> Jim's best friend has confided in him ...

[2000 rows x 5 columns]

In [25]:
plotto_df

     0                                                  1
0    0  <start> His philanthropic enterprise is about ...
1    0  <start> He a reformed gambler keeps the enterp...
2    1  <start> He applies for the position of butler ...
3    1  <start> He applying to Leonardo for a job is a...
4    0  <start> He is supposed to be dead but assumes ...
..  ..                                                ...
550  0  <start> He is a confirmed procrastinator and t...
551  0  <start> She commits a transgression in order t...
552  0  <start> She committing one transgression in or...
553  0  <start> He borrows an infant Joseph from a mar...
554  0  <start> He kills himself but contrives to make...

[555 rows x 2 columns]

In [26]:
scifi_df

     0                                                  1
0    1  <start>  Babylon 5 is the fifth in a series of...
1    1  <start>  The dream of peace between the five f...
2    1  <start>  He conducts a medical investigation a...
3    0  <start>  Worried that if Kosh dies the Vorlons...
4    1  <start>  Upon receiving word that He has becom...
..  ..                                                ...
440  1  <start>  After the Praesitlyn victory for the ...
441  1  <start>  Upon exiting hyperspace near Kynachi ...
442  1  <start>  Nuru's group attempts to continue the...
443  1  <start>  Nuru meets the Chiss ambassador but d...
444  1  <start>  He agrees to go with the Senator in o...

[445 rows x 2 columns]

In [27]:
#Sample 'situation + action' line
moral_train_df['situation + action'].iloc[0]

'<start> Joan is on a first date with Mitch when she gets a text from her ex-boyfriend who she still loves asking to meet up <sep> Joan ignores the text and focuses on enjoying her night with Mitch <end>'

In [28]:
#Sample 'situation' line
moral_train_df['situation'].iloc[0]

'<start> Joan is on a first date with Mitch when she gets a text from her ex-boyfriend who she still loves asking to meet up <end>'

In [29]:
#Sample 'action' line
moral_train_df['action'].iloc[0]

'<start> Joan ignores the text and focuses on enjoying her night with Mitch <end>'

In [30]:
#Sample 'plotto' line
plotto_df.iloc[0, 1]

'<start> His philanthropic enterprise is about to fail  <end>'

In [31]:
#Sample 'scifi' line
plotto_df.iloc[0, 1]

'<start> His philanthropic enterprise is about to fail  <end>'

Vectorize text

In [32]:
import numpy as np

#Gets sequence length that resides at specified percentile (default is 98th percentile)
def get_sequence_length(text, percentile=95):
  #Get the length of all sentences in given text
  text_lengths = [len(t) for t in text]

  #Return length of sequence in given percentile
  sequence_length = int(np.percentile(text_lengths, percentile)) 
  return sequence_length

In [33]:
import numpy as np
from tensorflow.keras.preprocessing.text import Tokenizer

#Tokenize text usig tokenizer fitted on 'situation' and 'action' text from training data
tokenizer = Tokenizer()
tokenizer.fit_on_texts(moral_train_df['situation + action'])

#Set array of start and end tokens to represent empty strings for 'missing' situation text in plotto and scifi
start_end_tokens = np.array([[5,6]])

In [34]:
train_situation_tokenized = tokenizer.texts_to_sequences(moral_train_df['situation'])
train_action_tokenized = tokenizer.texts_to_sequences(moral_train_df['action'])

In [35]:
test_situation_tokenized = tokenizer.texts_to_sequences(moral_test_df['situation'])
test_action_tokenized = tokenizer.texts_to_sequences(moral_test_df['action'])

In [36]:
plotto_action_tokenized = tokenizer.texts_to_sequences(plotto_df.iloc[:, 1])
scifi_action_tokenized = tokenizer.texts_to_sequences(scifi_df.iloc[:, 1])

In [37]:
num_plotto_action_tokens = len(plotto_action_tokenized) 
num_scifi_action_tokens = len(scifi_action_tokenized)

plotto_situation_tokenized = np.repeat(a=start_end_tokens, repeats=num_plotto_action_tokens, axis=0)
scifi_situation_tokenized = np.repeat(a=start_end_tokens, repeats=num_scifi_action_tokens, axis=0)

In [38]:
#Sample training 'situation' line and its tokenized form
orig_situation = moral_train_df['situation'].iloc[0]
print(f'Original Text: {orig_situation}')
print(f'Tokenized Format: {train_situation_tokenized[0]}')

Original Text: <start> Joan is on a first date with Mitch when she gets a text from her ex-boyfriend who she still loves asking to meet up <end>
Tokenized Format: [5, 866, 9, 18, 4, 267, 156, 13, 1660, 24, 21, 77, 4, 515, 34, 10, 360, 134, 32, 21, 391, 465, 210, 1, 400, 27, 6]

In [39]:
#Sample training 'action' line and its tokenized form
orig_action = moral_train_df['action'].iloc[0]
print(f'Original Text: {orig_action}')
print(f'Tokenized Format: {train_action_tokenized[0]}')

Original Text: <start> Joan ignores the text and focuses on enjoying her night with Mitch <end>
Tokenized Format: [5, 866, 422, 2, 515, 3, 1589, 18, 1719, 10, 105, 13, 1660, 6]

In [40]:
#Sample plotto line and its tokenized form
orig_plotto = plotto_df.iloc[0, 1]
print(f'Original Plotto Text: {orig_plotto}')
print(f'Tokenized Format: {plotto_action_tokenized[0]}')

Original Plotto Text: <start> His philanthropic enterprise is about to fail  <end>
Tokenized Format: [5, 8, 9, 28, 1, 5723, 6]

In [41]:
#Sample scifi line and its tokenized form
orig_scifi = scifi_df.iloc[0, 1]
print(f'Original Scifi Text: {orig_scifi}')
print(f'Tokenized Format: {scifi_action_tokenized[0]}')

Original Scifi Text: <start>  Babylon 5 is the fifth in a series of space stations dedicated to the dream of a galaxy without war a dream that species from different worlds might live side-by-side in mutual respect <end>
Tokenized Format: [5, 1595, 9, 2, 5065, 14, 4, 2597, 15, 1864, 10655, 8423, 1, 2, 1738, 15, 4, 13357, 137, 3417, 4, 1738, 12, 12304, 34, 487, 707, 675, 511, 50, 511, 14, 3487, 2576, 6]

In [42]:
import numpy as np
from tensorflow.keras.preprocessing.sequence import pad_sequences

#Pad tokenization vectors to length in the 98th percentile
max_situation_length = get_sequence_length(train_situation_tokenized, percentile=98)
max_action_length = get_sequence_length(train_action_tokenized, percentile=98)

In [43]:
train_situation_tokenized_padded = pad_sequences(train_situation_tokenized, padding='post', maxlen=max_situation_length)
train_action_tokenized_padded = pad_sequences(train_action_tokenized, padding='post', maxlen=max_action_length)

In [44]:
test_situation_tokenized_padded = pad_sequences(test_situation_tokenized, padding='post', maxlen=max_situation_length)
test_action_tokenized_padded = pad_sequences(test_action_tokenized, padding='post', maxlen=max_action_length)

In [45]:
plotto_situation_tokenized_padded = pad_sequences(plotto_situation_tokenized, padding='post', maxlen=max_situation_length)
plotto_action_tokenized_padded = pad_sequences(plotto_action_tokenized, padding='post', maxlen=max_action_length)

scifi_situation_tokenized_padded = pad_sequences(scifi_situation_tokenized, padding='post', maxlen=max_situation_length)
scifi_action_tokenized_padded = pad_sequences(scifi_action_tokenized, padding='post', maxlen=max_action_length)

Use pre-trained spaCY word embedddings

In [46]:
!python -m spacy download en_core_web_md

Collecting en_core_web_md==2.2.5
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz (96.4 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 96.4 MB 1.2 MB/s
Requirement already satisfied: spacy>=2.2.2 in /usr/local/lib/python3.7/dist-packages (from en_core_web_md==2.2.5) (2.2.4)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (3.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.5)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (7.4.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (0.8.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (57.2.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (4.41.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (2.0.5)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.19.5)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.5)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (0.4.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.1.3)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (2.23.0)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (4.6.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (3.5.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (3.0.4)
Building wheels for collected packages: en-core-web-md
  Building wheel for en-core-web-md (setup.py) ... done
  Created wheel for en-core-web-md: filename=en_core_web_md-2.2.5-py3-none-any.whl size=98051301 sha256=938f1c61656924281265ba942109d0fe532c23172e1fa123cb201a0fc0cac043
  Stored in directory: /tmp/pip-ephem-wheel-cache-xoiq6hoc/wheels/69/c5/b8/4f1c029d89238734311b3269762ab2ee325a42da2ce8edb997
Successfully built en-core-web-md
Installing collected packages: en-core-web-md
Successfully installed en-core-web-md-2.2.5
âœ” Download and installation successful
You can now load the model via spacy.load('en_core_web_md')

In [47]:
import en_core_web_md
spacy_model = en_core_web_md.load()

In [48]:
#Include an extra index for the "<PAD>" token.
vocab_size = len(tokenizer.word_index) + 1
embedding_dim = 300
embedding_matrix = np.zeros((vocab_size, embedding_dim))

for word, i in tokenizer.word_index.items():
  token = spacy_model(word)[0]
  #Make sure spaCy has an embedding for this token.
  if not token.is_oov:
    embedding_matrix[i] = token.vector

print(embedding_matrix.shape)

(14816, 300)

Build and train model

In [49]:
import tensorflow as tf
from tensorflow.keras import Model
from tensorflow.keras.layers import Bidirectional, Concatenate, Dense, Embedding, Flatten, Input, LSTM
from tensorflow.keras.initializers import Constant

#Set situation and action inputs
situation_input = Input(shape=(None,))
action_input = Input(shape=(None,))

#Pass situation input to Bidirectional LSTM layer
x = Embedding(
  vocab_size,
  embedding_dim,
  embeddings_initializer=Constant(embedding_matrix),
  trainable=False    
)(situation_input)
x = Bidirectional(LSTM(128))(x)

#Pass action input to Bidirectional LSTM layer
y = Embedding(
  vocab_size,
  embedding_dim,
  embeddings_initializer=Constant(embedding_matrix),
  trainable=False    
)(action_input)
y = Bidirectional(LSTM(128))(y)

concat_outputs = Concatenate()([x, y])

z = Dense(128, activation='relu')(concat_outputs)
z = Dense(1, activation='sigmoid')(z)

model = Model(inputs=[situation_input, action_input], outputs=z)
model.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(None, None)]       0
__________________________________________________________________________________________________
input_2 (InputLayer)            [(None, None)]       0
__________________________________________________________________________________________________
embedding (Embedding)           (None, None, 300)    4444800     input_1[0][0]
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, None, 300)    4444800     input_2[0][0]
__________________________________________________________________________________________________
bidirectional (Bidirectional)   (None, 256)          439296      embedding[0][0]
__________________________________________________________________________________________________
bidirectional_1 (Bidirectional) (None, 256)          439296      embedding_1[0][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 512)          0           bidirectional[0][0]
                                                                 bidirectional_1[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 128)          65664       concatenate[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 1)            129         dense[0][0]
==================================================================================================
Total params: 9,833,985
Trainable params: 944,385
Non-trainable params: 8,889,600
__________________________________________________________________________________________________

In [50]:
#Compile and train model
model.compile(
  loss='binary_crossentropy',
  optimizer=tf.keras.optimizers.Adam(),
  metrics=['accuracy']
)

In [51]:
#Fit model
train_labels = moral_train_df['label'].to_numpy(dtype='int64')
history = model.fit(
    x=[train_situation_tokenized_padded, train_action_tokenized_padded],
    y=train_labels,
    epochs=100,
    batch_size=512,
    validation_split=0.2,
)

Epoch 1/100
32/32 [==============================] - 14s 79ms/step - loss: 0.6516 - accuracy: 0.6031 - val_loss: 0.4993 - val_accuracy: 0.7660
Epoch 2/100
32/32 [==============================] - 1s 40ms/step - loss: 0.5871 - accuracy: 0.6901 - val_loss: 0.4962 - val_accuracy: 0.7655
Epoch 3/100
32/32 [==============================] - 1s 40ms/step - loss: 0.5575 - accuracy: 0.7157 - val_loss: 0.4526 - val_accuracy: 0.7977
Epoch 4/100
32/32 [==============================] - 1s 39ms/step - loss: 0.5423 - accuracy: 0.7291 - val_loss: 0.4522 - val_accuracy: 0.8010
Epoch 5/100
32/32 [==============================] - 1s 39ms/step - loss: 0.5208 - accuracy: 0.7432 - val_loss: 0.4367 - val_accuracy: 0.8145
Epoch 6/100
32/32 [==============================] - 1s 39ms/step - loss: 0.5087 - accuracy: 0.7494 - val_loss: 0.4387 - val_accuracy: 0.8062
Epoch 7/100
32/32 [==============================] - 1s 39ms/step - loss: 0.4864 - accuracy: 0.7613 - val_loss: 0.4445 - val_accuracy: 0.7972
Epoch 8/100
32/32 [==============================] - 1s 40ms/step - loss: 0.4611 - accuracy: 0.7816 - val_loss: 0.4336 - val_accuracy: 0.7930
Epoch 9/100
32/32 [==============================] - 1s 40ms/step - loss: 0.4326 - accuracy: 0.7959 - val_loss: 0.4472 - val_accuracy: 0.7900
Epoch 10/100
32/32 [==============================] - 1s 39ms/step - loss: 0.4182 - accuracy: 0.8013 - val_loss: 0.4107 - val_accuracy: 0.8195
Epoch 11/100
32/32 [==============================] - 1s 39ms/step - loss: 0.3732 - accuracy: 0.8271 - val_loss: 0.4290 - val_accuracy: 0.8100
Epoch 12/100
32/32 [==============================] - 1s 39ms/step - loss: 0.3494 - accuracy: 0.8428 - val_loss: 0.4567 - val_accuracy: 0.8037
Epoch 13/100
32/32 [==============================] - 1s 40ms/step - loss: 0.3254 - accuracy: 0.8518 - val_loss: 0.4952 - val_accuracy: 0.7958
Epoch 14/100
32/32 [==============================] - 1s 40ms/step - loss: 0.2831 - accuracy: 0.8729 - val_loss: 0.4900 - val_accuracy: 0.7880
Epoch 15/100
32/32 [==============================] - 1s 40ms/step - loss: 0.2457 - accuracy: 0.8924 - val_loss: 0.5361 - val_accuracy: 0.8018
Epoch 16/100
32/32 [==============================] - 1s 40ms/step - loss: 0.1976 - accuracy: 0.9156 - val_loss: 0.6230 - val_accuracy: 0.7740
Epoch 17/100
32/32 [==============================] - 1s 40ms/step - loss: 0.1657 - accuracy: 0.9306 - val_loss: 0.6996 - val_accuracy: 0.7717
Epoch 18/100
32/32 [==============================] - 1s 40ms/step - loss: 0.1408 - accuracy: 0.9419 - val_loss: 0.6994 - val_accuracy: 0.7895
Epoch 19/100
32/32 [==============================] - 1s 40ms/step - loss: 0.1016 - accuracy: 0.9615 - val_loss: 0.8078 - val_accuracy: 0.7732
Epoch 20/100
32/32 [==============================] - 1s 40ms/step - loss: 0.0888 - accuracy: 0.9637 - val_loss: 0.8878 - val_accuracy: 0.7738
Epoch 21/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0718 - accuracy: 0.9730 - val_loss: 0.8950 - val_accuracy: 0.7883
Epoch 22/100
32/32 [==============================] - 1s 40ms/step - loss: 0.0723 - accuracy: 0.9736 - val_loss: 0.9900 - val_accuracy: 0.7588
Epoch 23/100
32/32 [==============================] - 1s 40ms/step - loss: 0.0578 - accuracy: 0.9782 - val_loss: 1.0472 - val_accuracy: 0.7588
Epoch 24/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0664 - accuracy: 0.9739 - val_loss: 1.0136 - val_accuracy: 0.7775
Epoch 25/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0529 - accuracy: 0.9807 - val_loss: 1.0424 - val_accuracy: 0.7807
Epoch 26/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0412 - accuracy: 0.9866 - val_loss: 1.1452 - val_accuracy: 0.7713
Epoch 27/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0270 - accuracy: 0.9912 - val_loss: 1.1286 - val_accuracy: 0.7860
Epoch 28/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0205 - accuracy: 0.9931 - val_loss: 1.2274 - val_accuracy: 0.7820
Epoch 29/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0132 - accuracy: 0.9961 - val_loss: 1.3991 - val_accuracy: 0.7763
Epoch 30/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0127 - accuracy: 0.9965 - val_loss: 1.3791 - val_accuracy: 0.7650
Epoch 31/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0091 - accuracy: 0.9974 - val_loss: 1.5577 - val_accuracy: 0.7763
Epoch 32/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0066 - accuracy: 0.9983 - val_loss: 1.4502 - val_accuracy: 0.7868
Epoch 33/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0237 - accuracy: 0.9911 - val_loss: 1.6763 - val_accuracy: 0.7462
Epoch 34/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0528 - accuracy: 0.9819 - val_loss: 1.2706 - val_accuracy: 0.7768
Epoch 35/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0292 - accuracy: 0.9891 - val_loss: 1.3542 - val_accuracy: 0.7772
Epoch 36/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0155 - accuracy: 0.9952 - val_loss: 1.3244 - val_accuracy: 0.7820
Epoch 37/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0083 - accuracy: 0.9977 - val_loss: 1.4527 - val_accuracy: 0.7782
Epoch 38/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0093 - accuracy: 0.9980 - val_loss: 1.4257 - val_accuracy: 0.7763
Epoch 39/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0067 - accuracy: 0.9981 - val_loss: 1.5211 - val_accuracy: 0.7797
Epoch 40/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0047 - accuracy: 0.9989 - val_loss: 1.4856 - val_accuracy: 0.7910
Epoch 41/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0018 - accuracy: 0.9998 - val_loss: 1.5747 - val_accuracy: 0.7830
Epoch 42/100
32/32 [==============================] - 1s 41ms/step - loss: 0.0010 - accuracy: 0.9999 - val_loss: 1.6156 - val_accuracy: 0.7793
Epoch 43/100
32/32 [==============================] - 1s 41ms/step - loss: 7.5462e-04 - accuracy: 0.9999 - val_loss: 1.6675 - val_accuracy: 0.7800
Epoch 44/100
32/32 [==============================] - 1s 41ms/step - loss: 6.8450e-04 - accuracy: 0.9998 - val_loss: 1.7178 - val_accuracy: 0.7832
Epoch 45/100
32/32 [==============================] - 1s 41ms/step - loss: 6.4809e-04 - accuracy: 0.9999 - val_loss: 1.7100 - val_accuracy: 0.7812
Epoch 46/100
32/32 [==============================] - 1s 41ms/step - loss: 2.7464e-04 - accuracy: 0.9999 - val_loss: 1.7357 - val_accuracy: 0.7830
Epoch 47/100
32/32 [==============================] - 1s 41ms/step - loss: 1.4715e-04 - accuracy: 1.0000 - val_loss: 1.7695 - val_accuracy: 0.7820
Epoch 48/100
32/32 [==============================] - 1s 41ms/step - loss: 1.3680e-04 - accuracy: 1.0000 - val_loss: 1.7835 - val_accuracy: 0.7820
Epoch 49/100
32/32 [==============================] - 1s 41ms/step - loss: 1.0771e-04 - accuracy: 1.0000 - val_loss: 1.8021 - val_accuracy: 0.7818
Epoch 50/100
32/32 [==============================] - 1s 41ms/step - loss: 9.6132e-05 - accuracy: 1.0000 - val_loss: 1.8184 - val_accuracy: 0.7825
Epoch 51/100
32/32 [==============================] - 1s 41ms/step - loss: 8.7480e-05 - accuracy: 1.0000 - val_loss: 1.8351 - val_accuracy: 0.7818
Epoch 52/100
32/32 [==============================] - 1s 41ms/step - loss: 8.0561e-05 - accuracy: 1.0000 - val_loss: 1.8472 - val_accuracy: 0.7812
Epoch 53/100
32/32 [==============================] - 1s 41ms/step - loss: 7.4789e-05 - accuracy: 1.0000 - val_loss: 1.8600 - val_accuracy: 0.7805
Epoch 54/100
32/32 [==============================] - 1s 42ms/step - loss: 6.9343e-05 - accuracy: 1.0000 - val_loss: 1.8728 - val_accuracy: 0.7805
Epoch 55/100
32/32 [==============================] - 1s 41ms/step - loss: 6.5007e-05 - accuracy: 1.0000 - val_loss: 1.8839 - val_accuracy: 0.7812
Epoch 56/100
32/32 [==============================] - 1s 42ms/step - loss: 6.1002e-05 - accuracy: 1.0000 - val_loss: 1.8952 - val_accuracy: 0.7818
Epoch 57/100
32/32 [==============================] - 1s 42ms/step - loss: 5.7507e-05 - accuracy: 1.0000 - val_loss: 1.9058 - val_accuracy: 0.7818
Epoch 58/100
32/32 [==============================] - 1s 41ms/step - loss: 5.4281e-05 - accuracy: 1.0000 - val_loss: 1.9157 - val_accuracy: 0.7807
Epoch 59/100
32/32 [==============================] - 1s 42ms/step - loss: 5.1397e-05 - accuracy: 1.0000 - val_loss: 1.9256 - val_accuracy: 0.7810
Epoch 60/100
32/32 [==============================] - 1s 42ms/step - loss: 4.8750e-05 - accuracy: 1.0000 - val_loss: 1.9365 - val_accuracy: 0.7812
Epoch 61/100
32/32 [==============================] - 1s 42ms/step - loss: 4.6307e-05 - accuracy: 1.0000 - val_loss: 1.9436 - val_accuracy: 0.7812
Epoch 62/100
32/32 [==============================] - 1s 41ms/step - loss: 4.4088e-05 - accuracy: 1.0000 - val_loss: 1.9528 - val_accuracy: 0.7815
Epoch 63/100
32/32 [==============================] - 1s 41ms/step - loss: 4.1887e-05 - accuracy: 1.0000 - val_loss: 1.9621 - val_accuracy: 0.7818
Epoch 64/100
32/32 [==============================] - 1s 41ms/step - loss: 3.9943e-05 - accuracy: 1.0000 - val_loss: 1.9702 - val_accuracy: 0.7818
Epoch 65/100
32/32 [==============================] - 1s 42ms/step - loss: 3.8205e-05 - accuracy: 1.0000 - val_loss: 1.9786 - val_accuracy: 0.7812
Epoch 66/100
32/32 [==============================] - 1s 42ms/step - loss: 3.6565e-05 - accuracy: 1.0000 - val_loss: 1.9869 - val_accuracy: 0.7812
Epoch 67/100
32/32 [==============================] - 1s 42ms/step - loss: 3.5014e-05 - accuracy: 1.0000 - val_loss: 1.9937 - val_accuracy: 0.7810
Epoch 68/100
32/32 [==============================] - 1s 42ms/step - loss: 3.3576e-05 - accuracy: 1.0000 - val_loss: 2.0021 - val_accuracy: 0.7812
Epoch 69/100
32/32 [==============================] - 1s 42ms/step - loss: 3.2175e-05 - accuracy: 1.0000 - val_loss: 2.0095 - val_accuracy: 0.7812
Epoch 70/100
32/32 [==============================] - 1s 42ms/step - loss: 3.0926e-05 - accuracy: 1.0000 - val_loss: 2.0167 - val_accuracy: 0.7818
Epoch 71/100
32/32 [==============================] - 1s 42ms/step - loss: 2.9726e-05 - accuracy: 1.0000 - val_loss: 2.0239 - val_accuracy: 0.7818
Epoch 72/100
32/32 [==============================] - 1s 42ms/step - loss: 2.8579e-05 - accuracy: 1.0000 - val_loss: 2.0296 - val_accuracy: 0.7825
Epoch 73/100
32/32 [==============================] - 1s 42ms/step - loss: 2.7529e-05 - accuracy: 1.0000 - val_loss: 2.0381 - val_accuracy: 0.7820
Epoch 74/100
32/32 [==============================] - 1s 42ms/step - loss: 2.6512e-05 - accuracy: 1.0000 - val_loss: 2.0452 - val_accuracy: 0.7825
Epoch 75/100
32/32 [==============================] - 1s 43ms/step - loss: 2.5553e-05 - accuracy: 1.0000 - val_loss: 2.0509 - val_accuracy: 0.7822
Epoch 76/100
32/32 [==============================] - 1s 43ms/step - loss: 2.4645e-05 - accuracy: 1.0000 - val_loss: 2.0585 - val_accuracy: 0.7822
Epoch 77/100
32/32 [==============================] - 1s 43ms/step - loss: 2.3787e-05 - accuracy: 1.0000 - val_loss: 2.0642 - val_accuracy: 0.7822
Epoch 78/100
32/32 [==============================] - 1s 42ms/step - loss: 2.2976e-05 - accuracy: 1.0000 - val_loss: 2.0711 - val_accuracy: 0.7828
Epoch 79/100
32/32 [==============================] - 1s 43ms/step - loss: 2.2236e-05 - accuracy: 1.0000 - val_loss: 2.0785 - val_accuracy: 0.7825
Epoch 80/100
32/32 [==============================] - 1s 42ms/step - loss: 2.1444e-05 - accuracy: 1.0000 - val_loss: 2.0840 - val_accuracy: 0.7825
Epoch 81/100
32/32 [==============================] - 1s 43ms/step - loss: 2.0716e-05 - accuracy: 1.0000 - val_loss: 2.0895 - val_accuracy: 0.7825
Epoch 82/100
32/32 [==============================] - 1s 43ms/step - loss: 2.0037e-05 - accuracy: 1.0000 - val_loss: 2.0960 - val_accuracy: 0.7830
Epoch 83/100
32/32 [==============================] - 1s 43ms/step - loss: 1.9376e-05 - accuracy: 1.0000 - val_loss: 2.1009 - val_accuracy: 0.7830
Epoch 84/100
32/32 [==============================] - 1s 43ms/step - loss: 1.8782e-05 - accuracy: 1.0000 - val_loss: 2.1077 - val_accuracy: 0.7832
Epoch 85/100
32/32 [==============================] - 1s 43ms/step - loss: 1.8183e-05 - accuracy: 1.0000 - val_loss: 2.1129 - val_accuracy: 0.7832
Epoch 86/100
32/32 [==============================] - 1s 42ms/step - loss: 1.7628e-05 - accuracy: 1.0000 - val_loss: 2.1184 - val_accuracy: 0.7835
Epoch 87/100
32/32 [==============================] - 1s 44ms/step - loss: 1.7069e-05 - accuracy: 1.0000 - val_loss: 2.1247 - val_accuracy: 0.7832
Epoch 88/100
32/32 [==============================] - 1s 43ms/step - loss: 1.6573e-05 - accuracy: 1.0000 - val_loss: 2.1310 - val_accuracy: 0.7830
Epoch 89/100
32/32 [==============================] - 1s 43ms/step - loss: 1.6063e-05 - accuracy: 1.0000 - val_loss: 2.1357 - val_accuracy: 0.7835
Epoch 90/100
32/32 [==============================] - 1s 43ms/step - loss: 1.5593e-05 - accuracy: 1.0000 - val_loss: 2.1421 - val_accuracy: 0.7828
Epoch 91/100
32/32 [==============================] - 1s 43ms/step - loss: 1.5160e-05 - accuracy: 1.0000 - val_loss: 2.1470 - val_accuracy: 0.7835
Epoch 92/100
32/32 [==============================] - 1s 44ms/step - loss: 1.4686e-05 - accuracy: 1.0000 - val_loss: 2.1531 - val_accuracy: 0.7835
Epoch 93/100
32/32 [==============================] - 1s 44ms/step - loss: 1.4263e-05 - accuracy: 1.0000 - val_loss: 2.1583 - val_accuracy: 0.7837
Epoch 94/100
32/32 [==============================] - 1s 43ms/step - loss: 1.3852e-05 - accuracy: 1.0000 - val_loss: 2.1632 - val_accuracy: 0.7835
Epoch 95/100
32/32 [==============================] - 1s 42ms/step - loss: 1.3453e-05 - accuracy: 1.0000 - val_loss: 2.1687 - val_accuracy: 0.7837
Epoch 96/100
32/32 [==============================] - 1s 43ms/step - loss: 1.3092e-05 - accuracy: 1.0000 - val_loss: 2.1733 - val_accuracy: 0.7835
Epoch 97/100
32/32 [==============================] - 1s 42ms/step - loss: 1.2741e-05 - accuracy: 1.0000 - val_loss: 2.1788 - val_accuracy: 0.7840
Epoch 98/100
32/32 [==============================] - 1s 43ms/step - loss: 1.2380e-05 - accuracy: 1.0000 - val_loss: 2.1840 - val_accuracy: 0.7845
Epoch 99/100
32/32 [==============================] - 1s 43ms/step - loss: 1.2030e-05 - accuracy: 1.0000 - val_loss: 2.1899 - val_accuracy: 0.7845
Epoch 100/100
32/32 [==============================] - 1s 44ms/step - loss: 1.1702e-05 - accuracy: 1.0000 - val_loss: 2.1946 - val_accuracy: 0.7845

In [52]:
#Evaluate model accuracy
test_labels = moral_test_df['label'].to_numpy(dtype='int64')
loss, acc = model.evaluate([test_situation_tokenized_padded, test_action_tokenized_padded], 
                           test_labels)
print('Test accuracy for training: {}'.format(acc))

63/63 [==============================] - 1s 8ms/step - loss: 5.1400 - accuracy: 0.6330
Test accuracy for training: 0.6330000162124634

Test model with plotto and scifi data

In [53]:
#Test model with plotto data
test_labels = plotto_df.iloc[:, 0]
loss, acc = model.evaluate([plotto_situation_tokenized_padded, plotto_action_tokenized_padded],
                           test_labels)
print('Test accuracy for plotto: {}'.format(acc))

18/18 [==============================] - 0s 8ms/step - loss: 3.5978 - accuracy: 0.5982
Test accuracy for plotto: 0.5981981754302979

In [54]:
#Test model with scifi data 
test_labels = scifi_df.iloc[:, 0]
loss, acc = model.evaluate([scifi_situation_tokenized_padded, scifi_action_tokenized_padded], 
                           test_labels)
print('Test accuracy for scifi: {}'.format(acc))

14/14 [==============================] - 0s 8ms/step - loss: 3.5760 - accuracy: 0.6022
Test accuracy for scifi: 0.6022471785545349